<div class="large-6 columns large-centered black">
	<%= form_for @owner do |f| %>
		
		<%= f.text_field :first_name, placeholder: "First Name" %>
		<%= f.text_field :last_name, placeholder: "Last Name" %>
		<%= f.text_field :email, placeholder: "Email"  %>

	  <%= f.submit %>
	<% end %>
</div>