
<div class="large-4 small-10 small-centered columns large-cenetered black">
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>
	<div class="row black-bg">
		<h3 class="headline">Forgot your password?</h3>
	 	
	 	<div class="large-12 columns">
	  	<%= f.email_field :email, placeholder: "Email", autofocus: true %>
		</div>

	  	<div class="large-12 columns"><%= f.submit "Send me reset password instructions", class: "button-2" %>
		</div>
		<div class="large-12 columns">
  			<%= render "devise/shared/links" %>
 		</div>
	</div>
	<% end %>
</div>
