<%= form_for [@venue, @performance] do |f| %>
	
	<div class="large-12 columns">
	  <%= f.hidden_field :venue_id, value: @venue.id%>
	</div> 
	<div class="large-12 columns">  
	<%= f.text_field :name, placeholder: "Name"%>
	</div> 
	<div class="large-12 columns">
	<%= f.date_field :date %>
	</div> 
	<div class="large-12 columns">
	<%= f.time_field :time %>
	</div> 
	<div class="large-12 columns">  
	<%= f.collection_check_boxes :artist_ids, @artists, :id, :name, :include_blank => true %>
	</div> 
	<div class="large-12 columns">
	  <%= link_to 'Add an artist', new_artist_path %>
	</div> 
	<div class="large-12 columns">
	  Description: <%= f.text_field :description %>
	</div>  
	<div class="large-12 columns">
	  <%= f.submit class: "button-2" %>
	</div>
	<% end %> 
