<h1>Edit a performance</h1>
<%= form_for @performance do |f| %>
  <%= f.hidden_field :venue_id, value: @venue.id %>
  Name: <%= f.text_field :name %><br />
  Date: <%= f.date_field :date %></br>
  Time: <%= f.time_field :time %><br />
  Performers: <%= f.collection_check_boxes :artist_ids, @artists, :id, :name, :include_blank => true %><br/>
  <%= link_to 'Add an artist', new_artist_path %><br/>
  Description: <%= f.text_field :description %></br>
  <br />
  <%= f.submit %>
<% end %>